.App {
  text-align: center;
}

.app__container{
  display: flex;
  box-sizing: inherit;
}

.app__main-content{
  padding: 24px;
  flex-grow: 1;
  overflow-y: scroll;
  height: 100vh;
}
.app__content-sider {
  height: 100vh;
}

.app__main-content_without_responsive{
  padding: 24px;
  margin-left: 74px;
}